*Blog/vids/Reflecting[[:space:]]on[[:space:]]reflecting.mov filter=lfs diff=lfs merge=lfs -text
*[[:space:]]Blog/vids/checkin.mp4 filter=lfs diff=lfs merge=lfs -text
*checkin.mp4 filter=lfs diff=lfs merge=lfs -text
