@media (max-width: 800px) {font-size:10px;}

body {
  background-color: rgb(83, 57, 23);
  width: 90vmax;
  height: 90vmax;
  width: 350vmin;
}

h1 {
  color: rgb(236, 193, 0);
  text-align: center;
}

details {
  color: rgb(218, 192, 123);
  text-align: center;
}

h2 {
  padding-top: 30px;
  color: coral;
  text-align: center;
}

h3 {
  color: azure;
  opacity: 70%;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

p {
  color: rgb(238, 168, 87);
  text-align: center;
}

figcaption {color: azure;}

.heading {
  margin-top: 30px;
  border: solid;
  width: 60%;
  border-style: dashed;
  border-radius: 100px;
  color: rgb(255, 209, 5);
  background-color: cornsilk;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

img {
  img {
    max-width: 100%;
    height: auto;
  }
  margin: auto;
  border: solid;
  border-color: darkkhaki;
  border-width: auto;
  border-radius: 100px;
}

table {
  margin: auto;
  text-align: center;
}

main {
  margin: auto;
  text-align: center;
}

ol {
  text-align: center;
}

button {
  margin: auto;
  border: solid 2px;
  border-color: beige;
  border-radius: 100px;
  color: rgb(141, 180, 90);
}

.date {
  color: rgb(169, 182, 153);
  opacity: 90%;
}

ol.c {
  list-style-type: upper-roman;
  list-style-position: inside;
}

ul {
  list-style-position: inside;
  text-align: center;
  margin: auto;
  color: azure;
}

body {text-align: center;}

.sub {
  opacity: 80%;
  color: cornsilk;
}

.block {
  width: 40%;
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: rgb(43, 29, 5);
  border-radius: 100px;
  background-blend-mode: exclusion;
}

.block2 {
  width: 50%;
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: rgb(39, 39, 33);
  border-radius: 100px;
  background-blend-mode: exclusion;
}

.dignity {font-family: 'Alkatra', cursive;
  font-family: 'Oswald', sans-serif;}

.fancy {font-family: 'Alkatra', cursive;}

button {font-family: 'Alkatra', cursive; background-color: rgb(168, 172, 135); color: rgb(75, 77, 69); text-align: center; margin: auto;}




