body {
  background-color: darkslategrey;
}

h1 {
  color: goldenrod;
  text-align: center;
}

details {
  color: rgb(218, 192, 123);
  text-align: center;
}

h2 {
  padding-top: 30px;
  color: coral;
  text-align: center;
}

h3 {
  color: azure;
  opacity: 70%;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

p {
  color: rgb(238, 168, 87);
  text-align: center;
}

.heading {
  margin: auto;
  border: solid;
width: 50%;
  border-style: dashed;
  border-radius: 100px;
  color: rgb(49, 34, 6) darkgrey;
  background-color: cornsilk;
}

img {margin: auto; border: solid; border-color: darkkhaki; border-width: auto; border-radius: 100px;}

table {margin:auto; text-align: center;}

main {margin: auto; text-align: center;}

ol {text-align: center}
  
button {margin:auto; border: solid 2px; border-color: beige; border-radius: 100px; color: rgb(141, 180, 90);}

.date {color: rgb(169, 182, 153); opacity: 90%;}

ol.c {
  list-style-type: upper-roman; list-style-position: inside;
}