@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}

body {
  background-color: darkslategrey;
  background-image: url("imgs/goldennerd.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vmax;
  height: 80vmin;
}

h1 {
  color: rgb(218, 179, 51);
  text-align: center;
  margin-bottom: 50px;
}

figcaption { color: rgb(255, 217, 90);
  text-align: center;
opacity: 60%;
margin-bottom: 40px;}

details {
  color: rgb(218, 192, 123);
  text-align: center;
}

h2 {
  padding-top: 30px;
  color: rgb(255, 241, 118);
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  color: azure;
  opacity: 70%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-bottom: 50px;
}

p {
  color: rgb(238, 168, 87);
  text-align: center;
  margin-bottom: 50px;
}

.heading {
  margin-top: 30px;
  border: solid;
  width: 60%;
  border-style: dashed;
  border-radius: 100px;
  color: rgb(49, 34, 6) darkgrey;
  background-color: cornsilk;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;;
  margin-bottom: 50px;
}

.heading2 {
  margin-top: 30px;
  border: solid;
  width: 60%;
  border-color: burlywood;
  border-radius: 100px;
  color:rgb(201, 125, 12);
  background-color: cornsilk;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;;
  margin-bottom: 50px;}

  .headingsquare {
    margin-top: 30px;
    width: 100vmax;
    color:rgb(255, 208, 0);
    background-color: rgb(68, 50, 0);
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;;
    margin-bottom: 50px;
  opacity: 90%;}

img {
  margin-top: 70px;
  border: solid;
  border-color: darkkhaki;
  border-width: auto;
  border-radius: 100px;
}

table {
  margin: auto;
  text-align: center;
}

main {
  margin: auto;
  text-align: center;
}

ol {
  text-align: center;
}

button {
  margin: auto;
  border: solid 2px;
  border-color: rgb(136, 65, 8);
  border-radius: 100px;
  color: rgb(252, 255, 94);
  margin-bottom: 10px;
  text-align: center;
  background-image: href="imgs/button.png";
}

.date {
  color: rgb(169, 182, 153);
  opacity: 90%;
}

ol.c {
  list-style-type: upper-roman;
  list-style-position: inside;
}

ul {
  list-style-position: inside;
  text-align: center;
  margin: auto;
  color: azure;
}

body {text-align: center;}

.sub {
  opacity: 80%;
  color: cornsilk;
}

.block {
  width: 50%;
  padding: 30px;
  text-align: center;
  background-color: rgb(43, 29, 5);
  border-radius: 100px;
  margin-bottom: 50px;
}

.blockwide {
  width: 60vmax;
  height: fit-content;;
  padding: 30px;
  margin: auto;
  text-align: center;
  background-color: rgb(43, 29, 5);
  border-radius: 100px;
  margin-bottom: 50px;
}

.block2 {
  width: 50%;
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: rgb(39, 39, 33);
  border-radius: 100px;
  background-blend-mode: exclusion;
}

.dignity {font-family: 'Alkatra', cursive;
  font-family: 'Oswald', sans-serif;}

.fancy {font-family: 'Alkatra', cursive;}

button {font-family: 'Alkatra', cursive; background-color: rgb(65, 31, 0); color: rgb(255, 237, 78); text-align: center; margin: auto;}



